<?xml version="1.0" encoding="utf-8"?>
<Media Key="ceaea590-b42f-4c16-b204-3e7d8cb95614" Alias="Content Media" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContentMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-04T16:44:34</CreateDate>
    <NodeName Default="Content Media" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>