<?xml version="1.0" encoding="utf-8"?>
<Media Key="2820d5ce-2a66-44b7-956c-df58c2e999b1" Alias="Dirk Seefeld" Level="2">
  <Info>
    <Parent Key="ceaea590-b42f-4c16-b204-3e7d8cb95614">Content Media</Parent>
    <Path>/ContentMedia/DirkSeefeld</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-04T16:44:01</CreateDate>
    <NodeName Default="Dirk Seefeld" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/iephnhqp/profil-dirk-seefeld-2017.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>