<?xml version="1.0" encoding="utf-8"?>
<Content Key="c696221d-7bde-48bb-aae2-b644954b3757" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-04-04T16:40:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef491758-ecdd-46c7-9cfb-d97194f382eb">Page</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f34772dc-2862-4f94-842b-36bebdf947dd",
      "key": "bacdd9c3-d99a-4a46-994e-bac6403ede1d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "9574c4e4-cbe5-4573-afc6-f267e99f4751",
      "key": "c59cee57-fd68-475d-b6e3-70399446f78b",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "4d2a57fe-774a-4ebc-82de-40c6bda8d688",
      "key": "2fd3fca5-93eb-4cea-9889-ed738ee13b22",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#000"
          }
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "63a2d3fb-2f69-4b61-a199-4c4870c3cf31",
              "mediaKey": "08500da5-5380-4879-a1c2-22b3c3febade",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "4d2a57fe-774a-4ebc-82de-40c6bda8d688",
      "key": "1b269678-8e7a-4914-a044-28254526f19a",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#ff0"
          }
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "14e32450-e813-425b-be0f-03d7b79f9bab",
              "mediaKey": "2820d5ce-2a66-44b7-956c-df58c2e999b1",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "bacdd9c3-d99a-4a46-994e-bac6403ede1d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c59cee57-fd68-475d-b6e3-70399446f78b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "03fdd1fb-458e-45b0-99a9-7350f24ba0d4"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c59cee57-fd68-475d-b6e3-70399446f78b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "1b269678-8e7a-4914-a044-28254526f19a",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "1f6f465f-536c-4329-9047-63384e3ca3c0"
          },
          {
            "items": [],
            "key": "5c6fa6e2-9bba-45c0-9530-0a33adb1f1de"
          }
        ],
        "columnSpan": 12,
        "contentKey": "bacdd9c3-d99a-4a46-994e-bac6403ede1d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2fd3fca5-93eb-4cea-9889-ed738ee13b22",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>