<?xml version="1.0" encoding="utf-8"?>
<DataType Key="263a7924-dda1-4966-bf58-ef93c63acc7b" Alias="Demo Block Grid" Level="2">
  <Info>
    <Name>Demo Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Issue</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f34772dc-2862-4f94-842b-36bebdf947dd",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": "4d2a57fe-774a-4ebc-82de-40c6bda8d688",
      "areas": [
        {
          "key": "1f6f465f-536c-4329-9047-63384e3ca3c0",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "5c6fa6e2-9bba-45c0-9530-0a33adb1f1de",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "9574c4e4-cbe5-4573-afc6-f267e99f4751",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": "4d2a57fe-774a-4ebc-82de-40c6bda8d688",
      "areas": [
        {
          "key": "03fdd1fb-458e-45b0-99a9-7350f24ba0d4",
          "alias": "full row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>